
version: "3.9"
services:
  mysql:
    image: mysql:9.5.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1221
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"